/* /all */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: radial-gradient(
    circle,
    rgba(103, 25, 46, 1) 0%,
    rgba(146, 13, 228, 1) 0%,
    rgba(18, 11, 1, 1) 100%
  );
}

/* Navigation stuff */

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.navlist {
  display: flex;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Home page */

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.hero-text h1 {
  font-size: 50px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}

.hero-text p {
  color: white;
  font-size: 14px;
  line-height: 1.9;
  margin-bottom: 40px;
}

section {
  padding: 0 19%;
}

.zed-img {
  width: 500px;
  height: auto;
  transform: rotate(13deg);
}

/* Player Input */
input {
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #f0ffff;
  transition: 0.2s ease;
}

.input-container .input-box {
  background: red;
  margin: 20px;
}

/* Media */

@media (max-widht: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}

@media (max-width: 1340px) {
  .zed-img img {
    width: 100%;
    height: auto;
  }
  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
}

@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .zed-img {
    text-align: center;
  }
  .zed-img img {
    width: 360px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    height: 40vh;
    background: #920de4;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }

  .navlist a {
    display: block;
    margin: 7px 0;
    margin-left: 0;
  }

  .navlist.open {
    right: 0;
  }
}

@media (max-width: 680px) {
  .zed-img img {
    width: 100%;
    height: auto;
  }
}
