/* /all */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: radial-gradient(
    circle,
    rgba(103, 25, 46, 1) 0%,
    rgba(146, 13, 228, 1) 0%,
    rgba(18, 11, 1, 1) 100%
  );
}

/* Navigation stuff */

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.navlist {
  display: flex;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

#dices-img {
  display: flex;
  margin-right: 730px;
  width: 30px;
  cursor: pointer;
}

#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Home page */

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.hero-text h1 {
  font-size: 50px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}

.hero-text p {
  color: white;
  font-size: 14px;
  line-height: 1.9;
  margin-bottom: 40px;
}

section {
  padding: 0 19%;
}

.rng-champ-select {
  width: 620px;
  height: auto;
  animation: pulse 4s infinite;
}

/* Player Input */

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 200px;
  height: 100%;
}

.champion-display {
  width: 200px;
}

#playerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

#generate-button {
  align-self: flex-start;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f39c12;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#generate-button:hover {
  background-color: #e67e22;
}

.apex-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 200px;
}

.char-img {
  width: auto;
  height: 430px;
  margin-top: 150px;
  margin-right: 430px;
  position: sticky;
  animation: pulse 4s infinite;
}

.taric-img {
  width: auto;
  height: 430px;
  margin-top: 150px;
  margin-right: 280px;
  position: sticky;
  animation: pulse 4s infinite;
}

.player-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.player-item input {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

#playerList {
  margin-top: 300px;
  position: sticky;
}

.player-input {
  color: white;
}

.player-input i {
  color: gold;
  margin-right: 12px;
}

input {
  background: transparent;
  border-radius: 20px;
  text-indent: 0.3cm;
  color: white;
  height: 30px;
}

.add-player {
  margin-left: 105px;
}
.add-player,
.remove-player {
  margin-top: 10px;
  border-radius: 5px;
  width: 20px;
  cursor: pointer;
}

#generate-button {
  margin-left: 65px;
}

/* Media */

@media (max-widht: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}

@media (max-width: 1340px) {
  .rng-champ-select img {
    width: 100%;
    height: auto;
  }
  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
}

@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .zed-img {
    text-align: center;
  }
  .zed-img img {
    width: 360px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

/*@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    height: 40vh;
    background: #920de4;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }

  .navlist a {
    display: block;
    margin: 7px 0;
    margin-left: 0;
  }

  .navlist.open {
    right: 0;
  }
} */

@media (max-width: 680px) {
  .zed-img img {
    width: 100%;
    height: auto;
  }
}

/* Animation */

@keyframes pulseAndRotate {
  0% {
    transform: rotate(13deg) scale(1);
  }

  50% {
    transform: rotate(13.02deg) scale(1.01);
  }

  100% {
    transform: rotate(13deg) scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}
