/* /all */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(103, 25, 46, 1) 0%,
    rgba(146, 13, 228, 1) 0%,
    rgba(18, 11, 1, 1) 100%
  );
}

/* Navigation stuff */

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
 
}

.navlist {
  display: flex;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

.logo {
  font-size: 35px;
  font-weight: 700;
  color: white;
}

#dices-img {
  width: 30px;
  padding-left: 2px;
  cursor: pointer;
}

#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Home page */

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.hero-text h1 {
  font-size: 50px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}

.hero-text p {
  color: white;
  font-size: 14px;
  line-height: 1.9;
  margin-bottom: 40px;
}

section {
  padding: 0 19%;
}

.rng-champ-select {
  width: 620px;
  height: auto;
  animation: pulse 4s infinite;
}

/* Player Input */

.champion-display {
  text-align: center;
  text-shadow:
  0px 3px 0 #000;
  font-size: 20px;
  font-weight: 700;
}

.randomize-container {
  display: flex;
  justify-content: center;
  margin-top: 110px;

}

#generate-button {
  align-self: flex-start;
  margin-top: 20px;
  justify-content: center;
  padding: 10px 20px;
  background-color: goldenrod;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#generate-button:hover {
  background-color: #e67e22;
}

.apex-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 200px;
}

.char-img {
  width: auto;
  height: 430px;
  margin-top: 150px;
  margin-right: 430px;
  position: sticky;
  animation: pulse 4s infinite;
}

.taric-img {
  width: auto;
  height: 430px;
  margin-top: 150px;
  margin-right: 280px;
  position: sticky;
  animation: pulse 4s infinite;
}

#player-form {
}

.player-list {
  width: 100%;;
  background: black;
}


.player-item {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 330px;

  
}


.input-container {

  margin-top: 30px;
  display: flex;
  justify-content: center;

}

.display-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 30px;

}

.champion-image {
  display: inline;
  height: 500px;
  width: auto;
  animation: pulse 7s infinite;
}

#playerList {
  display: flex;
}

.player-input {
  display: flex;
  color: white;
}

.player-input i {
  margin-bottom: 10px;
  color: rgb(245, 245, 245);
  margin-right: 5px;
}

input {
  background: transparent;
  border-radius: 20px;
  text-align: center;
  color: white;
  height: 30px;
}

.add-remove-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-player {
  color: black;
  background: white;
  font-size: 18px;
}

.add-player:hover {
  background: rgb(234, 233, 233);
  color: rgb(25, 178, 25);
}

.remove-player {
  color: black;
  background: white;
  font-size: 18px;
  
}

.remove-player:hover {
  background: rgb(234, 233, 233);
  color: rgb(181, 26, 26);
}

.add-player,
.remove-player {
  margin-top: 10px;
  cursor: pointer;
  width: 25px;
  border-radius: 50%;
  background: white;
}


/* Media */

@media only screen and (min-device-width: 320px) and (max-device-width: 990px) {

}

@media (max-width: 1339px) {
  .char-img {
    width: 1440px;
    height: 2000px;
  }

}


@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}

@media (max-width: 1340px) {
  .rng-champ-select img {
    width: 100%;
    height: auto;
  }
  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
}

@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .zed-img {
    text-align: center;
  }
  .zed-img img {
    width: 360px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

/*@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    height: 40vh;
    background: #920de4;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }

  .navlist a {
    display: block;
    margin: 7px 0;
    margin-left: 0;
  }

  .navlist.open {
    right: 0;
  }
} */

@media (max-width: 680px) {
  .zed-img img {
    width: 100%;
    height: auto;
  }
}

/* Animation */

@keyframes pulseAndRotate {
  0% {
    transform: rotate(13deg) scale(1);
  }

  50% {
    transform: rotate(13.02deg) scale(1.01);
  }

  100% {
    transform: rotate(13deg) scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}
