<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Generator</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="form-container">
      <div class="form-content">
        <form id="playerForm">
          <div class="input-container">
            <div class="player-input">
              <ul id="playerList">
                <li></li>
              </ul>

              <button type="button" id="addPlayer" class="add-player">+</button>
              <button type="button" class="remove-player">−</button>
            </div>
          </div>
        </form>

        <button id="generate-button">RANDOMIZE!</button>
      </div>
      <ul id="generate-word"></ul>
      <div class="apex-img">
        <img class="loba-img" src="/images/loba.png" alt="loba" />
      </div>
    </div>

    <script src="/js/script.js"></script>
    <script id="replace_with_navbar" src="/js/nav.js"></script>
  </body>
</html>
