<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roll a Champ</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="hero">
      <div class="hero-text">
        <h1>Welcome</h1>
        <p>Choose your game at the top right to start randomizing</p>
      </div>

      <div class="hero-img">
        <img
          class="rng-champ-select"
          src="/images/rng_champ_select.png"
          alt="rng"
        />
      </div>
    </section>
    <script id="replace_with_navbar" src="/js/nav.js"></script>
    <script src="/js/nav.js"></script>
  </body>
</html>
