<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoL - Roll a Champ</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="randomize-container">
      <button id="generate-button">RANDOMIZE!</button>
      <ul id="generate-word"></ul>
    </div>
    <div class="add-remove-container">
      <button type="button" id="addPlayer" class="add-player">+</button>
      <button type="button" id="removePlayer" class="remove-player">−</button>
    </div>
    <div class="input-container">
      <div class="player-input">
        <ul id="playerList">
          <li></li>
        </ul>
      </div>
    </div>
    <script src="/js/script.js"></script>
    <script id="replace_with_navbar" src="/js/nav.js"></script>
  </body>
</html>
