<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="#" class="logo">ROLL-A-CHAMP</a>
      <ul class="navlist">
        <li><a href="/templates/">Home</a></li>
        <li><a href="/templates/apex.html">Apex</a></li>
        <li><a href="/templates/lol.html">League of Legends</a></li>
      </ul>

      <div class="bx bx-menu" id="menu-icon"></div>
    </header>
  </body>
</html>
